<div class="navbar navbar-expand navbar-dark bg-dark">
    <h1 class="text-white mx-2">Book-Store</h1>
    <div class="navbar-nav me-auto">
        <li class="nav-item " *ngIf="isAdmin()">
            <a class="nav-link text-white" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" [routerLink]="['/']" routerLinkActive="active">Home </a>
        </li>
    </div>

    <div class="navbar-nav ms-auto" *ngIf="!currentLoggedInUser?.id">
        <li class="nav-item ">
            <a class="nav-link text-white" [routerLink]="['/register']" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" [routerLink]="['/login']" routerLinkActive="active">Login </a>
        </li>
    </div>

    <div class="navbar-nav ms-auto" *ngIf="currentLoggedInUser?.id">
        <li class="nav-item">
            <a  [routerLink]="['/profile']" class="nav-link  text-white">{{currentLoggedInUser?.name}}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white"(click)="logOut()" routerLinkActive="active">Logout </a>
        </li>
    </div>
</div>