<div class="container p-3">
    <div class="alert alert-danger" *ngIf="errMsg">
            {{errMsg}}
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
         {{successMessage}}
    </div>
    <div class="d-flex flex-wrap">
        <div 
        *ngFor="let book of bookList.content; index as in"
        class="card m-3" 
        style="width:300px; background-color:lightgray;">


        <img 
        *ngIf="book.imageUrl"
        class="card-img-top custom-size" 
        src="{{book.imageUrl}}" alt="Card image cap">
        <div 
        *ngIf="!book.imageUrl"
        class="custom-size text-center" 
        style="background-color: rgb(151, 206, 206);">
            <h5 class="center-block mt-4">No image Available</h5>
        </div>

        <div class="card-body">
            <h5 class="card-title">{{book.title  | slice:0:30}}...</h5>
            <h6 class="card-subtitle mb-2 text-mutated"
                style="color: rgb(235, 20, 20)"
            >{{book.price | currency:'INR'}}</h6>
            <p class="card-text "
                style="height:100px;"
            >{{book.description | slice:0:100}}.....</p>
           
            <button class="w-100 btn mt-3 btn-primary" (click)="purchaseBook(book)">Buy now</button>
        </div>

        </div>
    
    
    
    </div>
    <div 
    class="d-flex " >
       <div 
       *ngFor="let page of pageCount(); index as in"
       >
           <div
           style="cursor: pointer"
           class="p-2 border m-1"
           [class.active]="clicked === in" 
           (click)="requestPage(in+1)">{{in+1}}</div>
       </div>
    </div>
</div>