<div class="container p-3">
    <div class="alert alert-danger" *ngIf="errMsg">
            {{errMsg}}
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
         {{successMessage}}
    </div>
    <div class="d-flex flex-wrap">
        <div 
        *ngFor="let book of bookList; index as in"
        class="card m-3" 
        style="width:300px; background-color:lightgray;">


        <fa-icon class="ms-auto me-auto book-icon"></fa-icon>

        <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <h6 class="card-subtitle mb-2 text-mutated">{{book.price | currency:'INR'}}</h6>
            <p class="card-text">{{book.description}}</p>
            <button class="w-100 btn mt-3 btn-primary" (click)="purchaseBook(book)">Buy now</button>
        </div>

        </div>
    </div>
</div>